---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: postgres
spec:
  ports:
  - port: 5432
    targetPort: 5432
    name: postgres
  selector:
    app: postgres
  clusterIP: None
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  labels:
    app: redis
spec:
  ports:
  - port: 6379
    targetPort: 6379
    name: redis
  selector:
    app: redis
  clusterIP: None
---
apiVersion: v1
kind: Service
metadata:
  name: medusa-backend
  labels:
    app: medusa-backend
spec:
  type: ClusterIP
  ports:
  - port: 9000
    targetPort: 9000
    protocol: TCP
    name: http
  selector:
    app: medusa-backend
---
apiVersion: v1
kind: Service
metadata:
  name: medusa-admin
  labels:
    app: medusa-admin
spec:
  type: ClusterIP
  ports:
  - port: 7001
    targetPort: 7001
    protocol: TCP
    name: http
  selector:
    app: medusa-admin
---
apiVersion: v1
kind: Service
metadata:
  name: medusa-storefront
  labels:
    app: medusa-storefront
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: medusa-storefront
