apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    app: {{ .Values.storeName }}
    component: mysql
spec:
  ports:
  - port: 3306
    targetPort: 3306
    name: mysql
  selector:
    app: {{ .Values.storeName }}
    component: mysql
  clusterIP: None
