apiVersion: v1
kind: Service
metadata:
  name: wordpress
  labels:
    app: {{ .Values.storeName }}
    component: wordpress
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: {{ .Values.storeName }}
    component: wordpress
