# Default values for platform.

domain: 127.0.0.1.nip.io

api:
  image:
    repository: api
    pullPolicy: IfNotPresent
    tag: "latest"
  service:
    type: ClusterIP
    port: 3000
  env:
    NODE_ENV: production

dashboard:
  image:
    repository: dashboard
    pullPolicy: IfNotPresent
    tag: "latest"
  service:
    type: ClusterIP
    port: 80
  env:
    VITE_API_URL: http://api.default.svc.cluster.local:3000

orchestrator:
  image:
    repository: orchestrator
    pullPolicy: IfNotPresent
    tag: "latest"
  service:
    type: ClusterIP
    port: 4000
  serviceAccount:
    create: true
    name: "orchestrator"

postgresql:
  enabled: true
  auth:
    postgresPassword: "postgres"
    database: "store_platform"
  primary:
    persistence:
      enabled: true
      size: 1Gi

redis:
  enabled: true
  auth:
    enabled: false
  master:
    persistence:
      enabled: true
      size: 1Gi

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: dashboard.127.0.0.1.nip.io
      paths:
        - path: /
          pathType: Prefix
          service: dashboard
    - host: api.127.0.0.1.nip.io
      paths:
        - path: /
          pathType: Prefix
          service: api
